<li data-id="{{value.postId}}" class="post-item">
		<div class="post-item_photo"><a href="{{value.authorLink}}" class="cardInfo" data-id="{{value.authorId}}"><img src="{{value.authorPicLink}}" alt="{{value.authorName}}"></a></div>
			<div class="post-item_con">
				<a class="post-item_author cardInfo" href="{{value.authorLink}}" data-id="{{value.authorId}}">{{value.authorName}}</a>
				<div class="my-post-quickops">
					<i class="tra"></i>
					<ul>
						<li><a href="" class="edit">修改</a></li>
						<li><a href="" class="remove">删除</a></li>
					</ul>
				</div>
				<h2><a href="{{value.postLink}}" class="post-title-text">{{postTitle}}</a></h2>
				{{if value.hasExpand}}
					<div class="post-item_pro">
						  {{value.postCon_a}}
						 <a href="javascript:;" class="post-expand"><i></i>展开</a>
					</div>
					<div class="post-item_pro see-all">
						{{value.postCon_b}}
						<a href="javascript:;" class="post-packUp"><i></i>收起</a>
					</div>
				{{else}}
					<div class="post-item_pro">
						  {{value.postCon_a}}
					</div>
				{{/if}}
		<div class="post-item_info">
			<div class="info-group">{{value.postTime}} <span class="post-from">来自<a href="{{value.postGroLink}}">{{value.postGroName}}</a></span>
				<a href="" class="reportPost">举报</a>
			</div>
			<div class="info-ops">
				{{if (value.hashuged)}}
					<a class="huged" href="javascript:;" title="喜欢" data-repeat=true>已喜欢(<span class="num">{{value.hugNum}}</span>)</a>
					{{else}}
					<a class="hug" href="javascript:;" title="喜欢"><span class="tit">喜欢</span>(<span class="num">{{value.hugNum}}</span>)</a>
				{{/if}}
				{{if (value.hasCollected)}}
				<a class="collect collected" href="javascript:;" title="觉得有用，收藏下吧">收藏</a>
				<a class="un-collect collected" href="javascript:;">取消收藏</a>
				{{else}}
				<a class="collect" href="javascript:;" title="觉得有用，收藏下吧">收藏</a>
				<a class="un-collect" href="javascript:;">取消收藏</a>
				{{/if}}
				<a href="javascript:;" class="repost" >转发(<span class="num">{{value.repostNum}}</span>)</a>
				<a class="post-comment last" href="javascript:;" title="我要评论" data-comment="{{value.hasComment}}">评论(<span class="num">{{value.CommentNum}}</span>)</a>
				<a href="javascript:;" class="post-comment_up last">收起评论</a>
			</div>
		</div>
	</div>
</li>